<!DOCTYPE>
<html>
    <head>    
        <h2>
            교환 합시다(가제)<br>
        </h2>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id = "middle">
            <div class="login" id = "middle_right">
                <img src="https://blogfiles.pstatic.net/MjAyMjA3MTJfMjI1/MDAxNjU3NTk2MTAzOTE1.kR41rHKNfby71qr9nE9YvklQra956zvlpcKrCJ9kOZog.K6YpMIQp1O4v5DVz9Vkm2cvhPacccR2u73XklToGXEYg.JPEG.joys0919/IMG_2155.JPG"  width="50" height="50"><br>
                <button onclick="location.href='login.html'">로그인</button ><br>
                <a href="signup.html" class="button register">회원가입</a><br>
                <p class="find">
                    <a href="findaccount.html">아이디 찾기</a>
                    <a href="findpassword.html">비밀번호 찾기</a>
                </p>
            </div>
            <div id = "middle_left"><img src="https://postfiles.pstatic.net/MjAyMjA3MTJfMjgz/MDAxNjU3NTk2MTAzODQ2.AEEKJDbY-ENjYSlrpcmHQxiHjy5BKpb7eKW01cTXn_og.iTO6my_B3hxtxK1lD8eOe00sNqeqyb6qFq9YeYMcdsIg.JPEG.joys0919/IMG_2159.JPG?type=w966" width="400" height="400"></div><br>
            <div id = "middle_left1" >물건 교환 커뮤니티 웹</div>
            <div id = "middle_left2" >서로의 물건을 통해서 추억을 공유할 수 있는 커뮤니티 
            집에서 놀고 있는 물건들을 필요한 사람들에게 내가 필요한 물건과 교환하여 삶을 효용성을 높여보자!</div>
            <div id = "middle_left3"><img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MTRfMjA4%2FMDAxNjU3NzgwNjUxNzE4.7NTsvBZMeP3BrLlCILCdu7K_4xjBj6QYmHsOEWcT4Ccg.qc8nmRv6Kx--D4Yotl9bJyx6LOzJL_nAmRv1VahziDog.PNG.mychoi79%2F%25C0%25CC%25BB%25F3%25C7%25D1%25BA%25AF%25C8%25A3%25BB%25E7_%25BF%25EC%25BF%25B5%25BF%25EC_%25C0%25CE%25BB%25E7%25B9%25FD_%25288%2529.png&type=sc960_832" width="600" height="200"></div><br>
        </div>
    </body>
</html>