<!DOCTYPE html>
<html>
    <style>
        #save{
            position: relative;
            left: 620px;
            top: 10px;
        }
        textarea{
            width: 800px;
            height: 400px;
        }
        #title{
            width: 250px;
        }
    </style>
    <head><title>자유게시판 글쓰기</title></head>
    <body>
        <h3>교환합시다(가제)</h3><hr><br>
        <span>자유게시판 글쓰기</span>
        <button id="save">저장</button><br>
        <input id="title" type="text" placeholder="제목을 입력해주세요"><br>
        <textarea placeholder="내용을 입력해주세요"></textarea>
    </body>
</html>