<!DOCTYPE html>
<html>
    <h2>ID 찾기</h2><hr>
    <body>
        <form method="get" action="completeID.html">
            <div>등록된 휴대폰 번호로 찾기</div><br>
            <div>가입 당시 입력한 휴대전화 번호를 통해 인증 후 아이디 찾기</div><br>
            이름
            <input type="text" size="15" value=""><br>
            휴대전화
            <select>
                <option value="0" selected>010</option>
                <option value="1">011</option>
                <option value="2">016</option>
                <option value="3">017</option>
                <option value="4">018</option>
                <option value="5">019</option>
                <option value="6">070</option>
            </select>
            <input type="text" size="15" value="">
            <input type="text" size="15" value="">
            <button type="button">인증번호</button><br>
            <input type="submit" value="아이디 찾기">
        </form>
    </body>
</html>